:root {
    --lightgray: #a3a3a3;
    --gray-less-opacity: #c1c1c169;
    --blue-white: #d9f8ff;
    --dark-blue: #3f6791;
    --border-color: #ced4da;
}

/* main content height */
#jazzy-sidebar + .content-wrapper {
    min-height: calc(100vh - 7rem) !important;
}

.sidebar {
    overflow-y: auto;
    margin-bottom: 25px;
    overflow-x: hidden;
}

/* sidebar */
.sidebar .nav-header {
    color: transparent;
    margin-top: 1rem;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    display: block !important;
    border-top: 2px solid #c2c7d041;
}
#jazzy-sidebar:hover .nav-header {
    color: #c2c7d0;
    opacity: 1 !important;
}
body:not(.sidebar-collapse) #jazzy-sidebar .nav-header {
    color: #c2c7d0;
    opacity: 1 !important;
}

/* user */
#user_form > p.text-center {
    display: none !important;
}
.user-panel {
    align-items: center;
}
.user-profile {
    margin-left: 0.4rem;
    font-size: 1.4rem;
}

/* modal  */
body.modal-open {
    padding-right: 8px !important;
}
body.modal-open div.wrapper {
    filter: none !important;
}
.modal.modal-wide .modal-dialog {
    width: auto !important;
    max-width: 800px !important;
}
.modal.fade.modal-wide.show {
    padding-right: 0px !important;
}
@media (hover: none) and (pointer: coarse) {
    body.modal-open {
        padding-right: 0px !important;
    }
}

.alert a {
    color: var(--blue-white) !important;
}

/* footer */
.main-footer {
    text-align: center;
}

/* changelist results */
#changelist-search #search_group .small.quiet {
    margin: 10px;
}

/* changelist title */
div.col-12 h1.h4.m-0.pr-3.mr-3.border-right {
    display: none !important;
}

/* changelist table */
#changelist-form td,
#changelist-form th {
    max-width: 200px;
}

/* dark mode toggle */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* inputs */
input[type=file],
input[type=password],
input[type=number] {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    max-width: 100% !important;
}
input[type=file] {
    padding: 5px;
}
input:not([type=submit]), textarea {
    background-color: transparent !important;
}
.dark-mode input,
.dark-mode textarea {
    color: white !important;
}
.dark-mode dialog {
    background-color: #3d3d3d;
    color: white;
}

/* group select */
.dark-mode p.selector-filter input {
    color: black !important;
}

/* buttons */
.dark-mode .btn-success {
    background-color: #00bc8c !important;
}
.dark-mode .btn-success:hover {
    background-color: #009670 !important;
}
.dark-mode .btn-outline-success {
    border-color: #00bc8c !important;
}
.dark-mode .btn-outline-success:hover {
    background-color: #00bc8c !important;
}
.dark-mode .btn-outline-info {
    border-color: #3498db !important;
}
.dark-mode .btn-outline-info:hover {
    background-color: #3498db !important;
}
.dark-mode .btn-danger {
    background-color: #e74c3c !important;
}
.dark-mode .btn-danger:hover {
    background-color: #e12e1c !important;
}
.dark-mode .btn-outline-danger {
    border-color: #e74c3c !important;
}
.dark-mode .btn-outline-danger:hover {
    background-color: #e74c3c !important;
}

.darkmode .accent-orange .btn-link:hover,
.darkmode .accent-orange .nav-tabs .nav-link:hover,
.darkmode .accent-orange a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn):hover,
.dark-mode a:not(.btn):hover {
    color: #f06c00;
}

/* select */
.select2.select2-container.select2-container--admin-autocomplete {
    width: 100% !important;
}
.dark-mode .select2-container--default .select2-selection--single {
    background-color: transparent !important;
}

.select2-container--admin-autocomplete .select2-selection--single .select2-selection__clear {
    margin-left: 10px !important;
}

.dark-mode select option {
    background-color: var(--gray-dark);
}

/* select2 */
/* .select2-selection.select2-selection--single {
    background-color: transparent !important;
    border: 1px solid var(--border-color) !important;
    padding: 7.5px 12px !important;
    min-height: 40px !important;
    display: flex !important;
    align-items: center !important;
} */
.select2-selection__rendered {
    margin-top: 0px !important;
}
.select2-selection__arrow {
    height: 100% !important;
}
.select2-selection.select2-selection--multiple .select2-selection__rendered {
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.select2-container--admin-autocomplete .select2-results__option--highlighted {
    color: white !important;
}
.select2-container--admin-autocomplete .select2-selection--multiple {
    border: none !important;
}
textarea.select2-search__field {
    font-size: 10pt !important;
}
input.select2-search__field {
    border: 1px solid var(--lightgray) !important;
    border-radius: 4px;
}
.select2-selection--multiple input.select2-search__field {
    border: none !important;
}
.select2-results__option[aria-selected=true],
.dark-mode .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--selected,
.dark-mode .select2-container--default .select2-results__option--selected {
    background-color: var(--dark-blue) !important;
    color: white !important;
}
.select2-results__option[aria-selected=true]:hover {
    filter: brightness(1.2);
}
.dark-mode .select2-selection__rendered {
    color: white !important;
}
.dark-mode .select2-results__option:not(.select2-results__option--selected) {
    color: var(--lightgray);
}
span.select2.select2-container.select2-container--admin-autocomplete {
    width: 100% !important;
}

/* input[type=checkbox] {
    accent-color: #fd7e14;
    width: 20px;
    height: 20px;
} */

/* LOGIN PAGE */
.jazzmin-login-page .login-box {
    width: 330px;
}
.jazzmin-login-page .callout.callout-danger p {
    max-width: 200px;
}

.dark-mode.jazzmin-login-page .callout.callout-danger p {
    color: #fff !important;
}

/* LOADER */
.page-loader-wrapper {
    background: #00000036;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    transition: all 1s;
}
.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}
.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(229 229 229);
}
body::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
}
body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0,0,0,.5);
}