.column-dupla1 {
    text-align: right;
}

.field-dupla1 {
    display: flex;
    justify-content: end;
    text-align: right;
}

.field-dupla1 .related-widget-wrapper-link,
.field-dupla2 .related-widget-wrapper-link,
.field-ranking a.related-widget-wrapper-link.change-related,
.field-ranking a.related-widget-wrapper-link.delete-related,
.field-ranking a.related-widget-wrapper-link.view-related,
tr.form-row.has_original.dynamic-Torneio_jogadores .related-widget-wrapper-link.add-related,
tr.form-row.has_original.dynamic-Torneio_jogadores .related-widget-wrapper-link.view-related,
tr.form-row.has_original.dynamic-Torneio_duplas .related-widget-wrapper-link.add-related,
tr.form-row.dynamic-Torneio_duplas .related-widget-wrapper-link.view-related {
    display: none !important;
}

.field-obs textarea {
    width: 150px !important;
    height: 40px;
}