@import "tailwindcss";

body {
    font-family: "Oswald", sans-serif;
}

@keyframes pulseBorder {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #afafaf;
    }
}

.animate-border {
    border: 2px solid transparent;
    animation: pulseBorder 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}